.main{
  background-color: aliceblue;
}
.footer {
  position: fixed;
  background-color: cornflowerblue;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.title{
  text-align: center;
  font-family: -apple-system;
  font-kerning: normal;
  font-weight: bold;
  color: darkblue;
  font-style: oblique;
}
